      .dataTables_wrapper .dataTables_filter input {
          color: gray;
          border-radius: 20px;
          margin-left: 10px;
          outline-offset: 0px;
      }
        .dataTables_wrapper .dataTables_filter input:focus{
            border-radius: 20px;
            margin-left: 10px;
            outline-offset: 0px;
            border: 1px solid gray;
            outline: none;
            padding: 5px 15px;
        }
        .dataTables_wrapper .dataTables_length select {

            outline-offset: 0px;
            outline: none;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            border-radius: 50px;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            border: 1px solid transparent;
            background: rgb(94, 114, 228);
        }
        .dt-button.buttons-excel.buttons-html5 {
            /* Estilos personalizados para los botones de descarga */
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        .dt-button.buttons-excel.buttons-html5:hover {
            /* Estilos para el estado hover de los botones de descarga */
            background-color: #45a049;
        }

        .dt-button.buttons-pdf.buttons-html5 {
            /* Estilos personalizados para el botón de descarga de PDF */
            background-color: #FF5722;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        .dt-button.buttons-pdf.buttons-html5:hover {
            /* Estilos para el estado hover del botón de descarga de PDF */
            background-color: #E64A19;
        }

        .dt-button.buttons-print {
          background-color: #2b6cb0;
          color: white;
          border: none;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 4px;
        }

        .dt-button.buttons-print:hover {
          background-color: #2c5282;
        }

        .dataTables_wrapper .dataTables_filter input {
            /* Estilos personalizados para el input de búsqueda */
            border-radius: 20px !important;
            margin-left: 10px !important;
            outline-offset: 0px !important;
            /* Agrega aquí tus estilos adicionales */
          }

          .dataTables_wrapper .dataTables_paginate .paginate_button {
            border-radius: 50px !important;
        }
        